# Auto detect text files and perform LF normalization

#*          text=auto eol=lf
*           text=auto

*.groovy   text eol=lf

*.json     text eol=lf
*.conf     text eol=lf

.gitignore text eol=lf
.gitconfig text eol=lf
.gitattributes text eol=lf
.groovylintrc.json text eol=lf

*.gz       binary
*.tar      binary
*.zip      binary
*.7z       binary
